.shopPage__header_btn {    
    width: 30px;
    height: 30px;
    background-color: #0d0f15;
    border-radius: 12px;
    outline: none;
    border: none;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    cursor: pointer;
}

.Arrow {
    color: gray;
    font-size: 26px;
}